.car__title{
  margin-top: 10px;
  margin-bottom: 15px;

  font-weight: bold;
  color:rgb(219, 25, 64);
}

.car__road{
  margin-bottom: 15px;

  border-bottom: 2px dashed #000;
}

.car__car{
  width:50px;
}
